<table class="table" id="book_comments">
    <% book_comments.each do |book_comment| %>
    <tr>
      <td><%= attachment_image_tag book_comment.user, :profile_image, :fill, 40, 40, fallback: "noimage.png", size:'40x40' %>
      <br><%= link_to book_comment.user.name, user_path(book_comment.id) %></td>
      <td><%= book_comment.created_at.strftime('%Y/%m/%d') %><br>
        <% if book_comment.user == current_user %>
          <%= link_to "Destroy", book_book_comment_path(@book, book_comment.id), method: :delete, "data-confirm" => "Are you sure?", class: "btn btn-danger btn-xs", remote: true %>
        <% end %></td>
      <td><%= book_comment.comment %></td>
     </tr>
    <% end %>
</table>