<p><%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "noimage.png", size:'100x100' %></p>
<table class="table">
  <thead>
  </thead>
  <tbody>
    <tr>
      <th>name</th>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <th>introduction</th>
      <td><%= user.introduction %></td>
    </tr>
    <tr>
      <th>following</th>
      <td><%= link_to user.followings.count, following_user_path(user) %></td>
    </tr>
    <tr>
      <th>followers</th>
      <td><%= link_to user.followers.count, followers_user_path(user) %></td>
    </tr>
    <tr>
      <td><%= render 'users/follow_form', user: user %></td>
    </tr>
  </tbody>
</table>

<% if user == current_user %>
  <div class="row">
    <p><%= link_to "", edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %></p>
  </div>
<% end %>