<%= form _for(@user, url:users_path) do |f| %>
<h1>User info</h1>
	<%= f.label :Name %>
	<%= f.text_field :name %>

	<%= f.attachment_field :profile_image %>

	<%= f.label :Introduction %>
	<%= f.text_area :introduction %>

	<%= f.submit "Update User" %>
<% end %>