<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<h1>Editing Book</h1>
		<% if @book.errors.any? %>
			<div id="error_explanation">
   				<h2><%= @book.errors.count %>errors prohibited this obj from being saved:</h2>
				<ul>
					<% @book.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
		<div class="row">
			<%= form_for(@book) do |f| %>
				<p>Title</p>
				<%= f.text_field :title, class: "col-xs-12 mb-5px" %>
				<p>Opinion</p>
				<%= f.text_area :body, class: "col-xs-12 mb-5px" %><br/>
				<%= f.submit "Update Book", class: "btn btn-primary col-xs-12 mb-5px" %>
			<% end %>
		</div>

		<%= link_to "Show", book_path(@book) %> | <%= link_to "Back", :books %>
	</div>ß
</div>