<body>
	<% if flash[:notice] %>
		<p><%= flash[:notice] %></p>
	<% end %>
	<div class="container">
		<%= render 'books/list', user: @user, book: @book %>
		<div class="booksdetail">
			<h3>Book detail</h3>

			<table>
				<thead>
				</thead>
				<tbody>
					<% @books.each do |book| %>
					<tr>
						<td><%= book.title %></td>
						<td><%= book.body %></td>
						<td><%= link_to "edit", edit_book_path(book) %></td>
						<td><%= link_to "destroy", book_path(book), method: :delete, "data-confirm" => "Are you sure?" %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</body>