
	<% if flash[:notice] %>
		<p class="flash"><%= flash[:notice] %></p>
	<% end %>
		<div class="row">
			<%= render 'books/list', user: @book_id.user, book: @book %>
			<div class="booksdetail col-xs-9">
				<h2>Book detail</h2>

				<table class="table">
					<thead>
					</thead>
					<tbody>
						<tr>
							<td><%= attachment_image_tag @book_id.user, :profile_image, :fill, 40, 40, fallback: "noimage.png", size:'40x40' %>
							<br><%= link_to @book_id.user.name, user_path(@book_id.user), class: "link hover" %></td>
							<td><%= link_to @book_id.title, book_path(@book_id), class: "link hover" %></td>
							<td><%= render "favorites/favorite", book_id: @book_id %></td>
							<td><%= "コメント数：#{@book.book_comments.count}" %></td>
							<td>
								<% if @book_id.user == current_user %>
									<td><%= link_to "Edit", edit_book_path(@book_id), class: "btn btn-success btn-sm" %></td>
									<td><%= link_to "Destroy", book_path(@book_id), method: :delete, "data-confirm" => "Are you sure?", class: "btn btn-danger btn-sm" %></td>
								<% end %>
							</td>
						</tr>
					</tbody>
				</table>
				<ol>
			      <% @book_comments.each do |book_comment| %>
			        <li class="comment">
                <%= attachment_image_tag book_comment.user, :profile_image, :fill, 40, 40, fallback: "noimage.png", size:'40x40' %>
                <a href="#" class="link-author"><%= book_comment.user.name %></a>
                <span class="comment-date"><%= book_comment.created_at.strftime('%Y/%m/%d') %></span>
                <p>
                	<% if book_comment.user == current_user %>
		              	<%= link_to "Destroy", book_book_comments_path(book_comment.id), method: :delete, "data-confirm" => "Are you sure?", class: "btn btn-danger btn-sm" %>
		            	<% end %>
		        		</p>
              	<div class="comment-entry"><%= book_comment.comment %></div>
			        </li>
			      <% end %>
			    </ol>
				<div>
					<%= form_for [@book_id, @book_comment] do |f| %>
					     <%= f.text_area :comment, rows:'5', class: "form-control", placeholder: "コメントをここに" %>
					    <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
					<% end %>
				</div>
			</div>
		</div>