
	<% if flash[:notice] %>
		<p><%= flash[:notice] %></p>
	<% end %>
		<div class="row">
			<%= render 'books/list', user: @user, book: @book %>
			<div class="booksdetail col-xs-9">
				<h2>Book detail</h2>

				<table class="table">
					<thead>
					</thead>
					<tbody>
						<tr>
							<td><%= attachment_image_tag @user, :profile_image, :fill, 40, 40, fallback: "noimage.png", size:'40x40' %>
							<br><%= link_to @user.name, user_path(@user), class: "link hover" %></td>
							<td><%= link_to @book_id.title, book_path(@book_id), class: "link hover" %></td>
							<td><%= @book_id.body %></td>
							<% if @book_id.user == current_user %>
								<td><%= link_to "Edit", edit_book_path(@book_id), class: "btn btn-success btn-sm" %></td>
								<td><%= link_to "Destroy", book_path(@book_id), method: :delete, "data-confirm" => "Are you sure?", class: "btn btn-danger btn-sm" %></td>
							<% end %>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	