
	<% if flash[:notice] %>
		<p class="flash"><%= flash[:notice] %></p>
	<% end %>
		<div class="row">
			<div class="urinfo col-xs-3">
				<h2>User info</h2>
					<%= render 'users/info', user: @book.user %>
				<h2>New book</h2>
					<%= render 'form', book: @newbook %>
			</div>
			<div class="booksdetail col-xs-9">
				<h2>Book detail</h2>

				<table class="table">
						<tr>
							<td><%= attachment_image_tag @book.user, :profile_image, :fill, 40, 40, fallback: "noimage.png", size:'40x40' %>
							<br><%= link_to @book.user.name, user_path(@book.user), class: "link hover" %></td>
							<td><%= link_to @book.title, book_path(@book), class: "link hover" %></td>
							<td>
								<div id="favorites_buttons_<%= @book.id %>">
									<%= render "favorites/favorite", book: @book, user: current_user %>
								</div>
							</td>
							<td><%= "コメント数：#{@book.book_comments.count}" %></td>
							<td>
								<% if @book.user == current_user %>
									<td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-success btn-sm" %></td>
									<td><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "Are you sure?", class: "btn btn-danger btn-sm" %></td>
								<% end %>
							</td>
						</tr>
				</table>

				<div>
					<%= form_with(model: [@book, @book_comment], data:{remote: true}) do |f| %>
					    <%= f.text_area :comment, rows:'5', class: "form-control", id: "comment_body", placeholder: "コメントをここに" %>
					    <%= f.submit "送信する", class: "btn btn-lg btn-success btn-base-1 pull-right" %>
					<% end %>
				</div>

				<h3>All Comments</h3>
				<%= render 'book_comments/book_comments', book_comments: @book_comments %>
			</div>
		</div>